
<ul class="sidebar navbar-nav">
    <li class="nav-item active">
        <a class="nav-link" href="#">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span class="glyphicon-home">Điều Khiển</span>
        </a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-fw fa-user"></i>
            <span>Quản Lý Người dùng</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="pagesDropdown">
            <h6 class="dropdown-header">Danh Mục</h6>
            <a class="dropdown-item" href="/Admin/User/Index">Quản lý tài khoản</a>
            <a class="dropdown-item" href="/Admin/Category/Index">Quản Lý Bài viết</a>
            <a class="dropdown-item" href="404.html">Công khai API</a>
            <a class="dropdown-item" href="blank.html">Danh Sách Đen</a>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Thống Kê</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="fas fa-fw fa-table"></i>
            <span>Biểu Đồ</span>
        </a>
    </li>
</ul>