@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}
@section header{
    Quản Lý Sản Phẩm
}
@section jsfooter{
    <script src="~/Areas/Admin/Js/Plugin/jquery.twbsPagination.min.js"></script>

<script src="~/Areas/Admin/Js/Controller/ProductController.js"></script>
    
}
<!-- DataTables Example -->

    <div class="card-header">
        <div>
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <a href="/Admin/Product/Add" class="btn btn-info" role="button">Thêm mới</a>
                        <a href="/Admin/Product/Add" class="btn btn-info" role="button">Xuất báo cáo</a>
                    </div>
                </div>
            </div>         
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Tên</th>
                        <th>Giá</th>
                        <th>Unknown</th>
                        <th>Thể Loại</th>
                        <th>Trạng thái</th>
                        <th>Giá Mới</th>
                        <th>Áp Dụng VAT</th>
                        <th>Tổng Lượt Xem</th>
                        <th>###</th>
                    </tr>
                </thead>
                <tbody class="tbody"></tbody>
            </table>
            <ul id="pagination-product" class="pagination-sm"></ul>
        </div>
    </div>
    <div class="card-footer small text-muted">@DateTime.Now</div>
</div>


