
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}

@section header{
    Quản lý bài viết
}
<div>
    <a class="btn btn-primary" href="/Admin/Category/CreateCategory" type="Button">Tạo mới</a>
</div>

